:root {
  --primary-blue: #0049f9;
  --primary-green: #01bd96;
  --text-dark: #212529;
  --text-light: rgba(33, 37, 41, 0.75);
  --white: #ffffff;
  --border-light: #e0e0e0;
  --shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.12);
}
.retour_dashboard {
    color: var(--primary-blue);
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
    margin-top: 30px;
    transition: color 0.3s;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.cote{
    margin-top:15px;
    padding:40px;
}
.cote h2{
    text-align: center;
    font-weight: bold;
    color: var(--primary-blue);
    font-family:Georgia, 'Times New Roman', Times, serif;

}
.main-content {
    margin-top: 8px;
    padding: 1px;
}


.card{
    width: 100%;
     max-width: 700px;

}
.form-text-muted{
    
    font-size: 13px;
    color: #666;
    margin-top: 6px;

}
.form-label{
    font-weight: bold;
    
}
.file-input-wrapper {
    position: relative;
}
.btn-container{
    display: flex;
    justify-content: space-between; /* Annuler à gauche / Enregistrer à droite */
    align-items: center;
}
.btn-save {
    background: var(--primary-blue);
    color:white;
    padding: 10px 28px;
    font-weight: bold;
    border-radius: 12px;
    border: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.btn-cancel{
    background: white;
    color:var(--primary-blue);
    padding: 10px 28px;
    font-weight: bold;
    border-radius: 12px;
    border:2px solid var(--primary-blue);
    font-family:Georgia, 'Times New Roman', Times, serif;

}
.btn-reinit{
    padding: 10px 28px;
    font-weight: bold;
    background: #F0F0F0;
    border-radius: 12px;
    font-family:Georgia, 'Times New Roman', Times, serif;

}
.btn-save:hover {
    background: var(--primary-green);
}
.btn-cancel:hover{
    background: var(--primary-green);

}
.btn-reinit:hover{
    background: var(--primary-green);

}
.form-control{
      background: #f2f4f7;
    border: 1px solid #d4d8dd;

}
.form-control[readonly] {
    background: #f2f4f7;
    border: 1px solid #d4d8dd;
    cursor: not-allowed;
}
.my-4 h4{
    color:var(--primary-green);
    font-weight:bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.mb-3{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.input-beex[type="file"]::file-selector-button {
    background: var(--beex-blue);
    color: white;
    border: none;
    padding: 8px 18px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 15px;
    transition: all 0.3s ease;
}
.content-inter {
    display: flex;
    margin-left:50px;
    margin-right:50px;

    justify-content: space-between; /* espace entre gauche et droite */
    /*gap: 20px;  facultatif, espace entre colonnes */
}
.content-inter-left,
.content-inter-right {
    width: 48%;
}
/* Labels en gras + valeur en normal */
.content-inter p {
    margin: 8px 0;
    font-size: 16px;
}
.content-inter p strong {
    font-weight: 700; /* en gras */
    color: #333;
}
.content-inter p span {
    font-weight: 400; /* valeurs de la BD NON gras */
    color: #555;
}
.card h2{
    font-weight: bold;
    color: var(--primary-blue);
    font-family:Georgia, 'Times New Roman', Times, serif;

}
.main-content1 .card {
    width: 85%;                 /* augmente ou diminue comme tu veux */
    max-width: 1300px;          /* limite pour ne pas trop étirer */
    margin-bottom: 20px;
}



